$font-stack: monospace, Helvetica, sans-serif;
$site-blue: #26547c;
$site-red: #EF476F;
$site-yellow: #FFD166;
$site-green: #06D6A0;
$site-white: #FFFCF9;

body {
  background: $site-white;
  font: 100% $font-stack;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  flex: 1 0 auto;
}

.footerContainer {
  flex-shrink: 0;
}

.footer {
  display: flex;
}

.main {
  max-width: 55rem;
  margin: 2rem auto;
  padding: 1rem 1rem;
  font-size: 3rem;
  text-align: center;
  color: $site-blue;
  border: 2px solid $site-red;
}

.content {
  max-width: 48rem;
  text-align: center;
  margin: 1rem auto;
  color: $site-green;
}

.info-card-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  text-align: center;
  //vertical-align: top;
  border: 2px solid $site-yellow;
  color: $site-blue;
  display: block;
  //max-width: 24rem;
  box-sizing: border-box;
  transition: background-color 200ms linear;
  transition: margin-left 200ms linear;
  transition: margin-right 200ms linear;
}

.info-card-container:hover {
  background-color: $site-red;
}

